<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.notepad">

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/knappicon"
        android:label="Key Note"
        android:roundIcon="@drawable/knappicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2">
        <activity android:name=".HomeActivity"
            android:theme="@style/AppTheme3"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".NotepadActivity"
            android:theme="@style/AppTheme3"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".user_sign.LoginActivity"
            android:theme="@style/AppTheme3"
            android:screenOrientation="portrait"/>

        <activity android:name=".user_sign.RegisterActivity"
            android:theme="@style/AppTheme3"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme4"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>